body{
  background: white;
}

.nav-sidebar {
  transition: width 0.3s, left 0.3s;
  position: fixed;
  z-index: 600;
  width: 220px;
  top: 40px;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  box-shadow: inset -1px 0 0 #e5e5e5;
  transform: translate3d(0, 0, 0);
}

.nav-sidebar ul {
  padding-left: 0;
  list-style: none;
}

.sidebar-top-level-items {
  margin-bottom: 60px;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav-sidebar li.active {
  box-shadow: inset 4px 0 0 #375A7F;
}

.sidebar-top-level-items>li.active {
  background: rgba(0,0,0,0.04);
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav-sidebar ul {
  padding-left: 0;
  list-style: none;
}

.nav-sidebar li.active>a {
  color: #393982;
}

.sidebar-top-level-items>li.active>a {
  margin-left: 4px;
  padding-left: 11px;
}

.nav-sidebar li.active>a {
  font-weight: 600;
}

.nav-sidebar li a {
  transition: padding 0.3s;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #707070;
}

.nav-sidebar a {
  text-decoration: none;
}

/* .nav-sidebar-inner-scroll {
  height: 100%;
  width: 100%;
  overflow: auto;

  add style="overflow-y: scroll;"
} */



.navbar-header {
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 0;
  min-height: 40px;
  max-height: 40px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  background-color: #2C3E50;
}

.navbar-header .container-fluid {
  padding: 0;
}

.navbar>.container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


li>ul{
  display: none;
}

.content-wrapper {
  width: 100%;
  transition: padding 0.3s;
}

.content-wrapper {
  margin-top: 40px;
  /* padding-bottom: 100px; */
}



@media (min-width: 768px){
  .page-with-contextual-sidebar {
      padding-left: 50px;
  }
}

@media (min-width: 1200px){
  .page-with-contextual-sidebar {
      padding-left: 220px;
  }
}

.page-with-contextual-sidebar {
  transition: padding-left 0.3s;
}


.toggle-mobile-nav {
  display: none;
  background-color: transparent;
  border: 0;
  padding: 6px 16px;
  margin: 0 0 0 -15px;
  height: 46px;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}

.navbar-open{
  display:block;
  left : 0 !important;
}

@media (max-width: 767.98px){
  .toggle-mobile-nav {
      display: flex;
      align-items: center;
  }
  /* .nav-sidebar{
    display: none;
  } */
}

@media (max-width: 767.98px){
  .mobile-overlay.mobile-nav-open {
      display: block;
      position: fixed;
      background-color: rgba(0,0,0,0.3);
      height: 100%;
      width: 100%;
      z-index: 300;
  }
}

@media (max-width: 767.98px){
  .toggle-mobile-nav {
      display: flex;
      align-items: center;
  }
  .nav-sidebar {
    left: -220px;
  }
}

@media (max-width: 1199px) and (min-width: 768px){
  .nav-sidebar:not(.sidebar-expanded-mobile) {
      width: 50px;
  }
}

.btn-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  margin: 4px 2px;
  font-size: 12px;
  border-radius: 4px;
  height: 32px;
  font-weight: 600;
  white-space: nowrap;
  color: #292961;
  background-color: #fff;
}

.navbar .navbar-collapse {
  flex: 0 0 auto;
  border-top: 0;
  padding: 0;
}

.navbar .header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 40px;
  padding-left: 0;
}

.navbar .header-content .title-container {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  padding-top: 0;
  overflow: visible;
}

.navbar .header-content .title {
  padding-right: 0;
  color: currentColor;
  display: flex;
  position: relative;
  margin: 0;
  font-size: 18px;
  vertical-align: top;
  white-space: nowrap;
}

.dropdown-Profile{
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-search {
  padding: 6px 8px 6px 10px;
  background-color: #fff;
  color: #2e2e2e;
  font-size: 14px;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  white-space: nowrap;
}